.logo {
  max-width: 98px;
}

.header-container {
  width: 100%;
  max-width: 100dvw;
  border-bottom: 1px solid var(--gray3);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-content .logo {
  width: 98px;
  height: auto;
}

.header-content ul svg {
  width: 24px;
  height: 24px;
}

.header-content ul {
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 1.25rem;
}

.header-content a {
  transition: 0.3s;
}
.header-content a:hover {
  color: var(--light-green);
}

.header-content a.active {
  color: var(--light-green);
}

/*** --------------------------------------------------------------------------------------------------------
- LANGUAGE BUTTON
-------------------------------------------------------------------------------------------------------- ***/

.header-content #menu-lang-btn {
  padding: 0.9rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  border-radius: 5px;
}

.header-content #menu-lang-btn.active,
.header-content #menu-lang-btn:hover {
  background-color: var(--light-green);
} 

.header-content #menu-lang-btn.active svg path,
.header-content #menu-lang-btn:hover svg path {
  stroke: var(--dark-green);
}

.header-content .language-container {
  transform: translateY(-10%);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background-color: var(--white);
  z-index: 2;
  transition: 0.3s;
  gap: 0;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2);
  top: 100%;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.header-content .language-container.show {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: initial;
  z-index: 2;
}

.header-content .language-container li:first-child {
  border-bottom: 1px solid var(--gray3);
}

.header-content .language-container li {
  display: inherit;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.header-content .language-container button {
  cursor: pointer;
  padding: 1rem 1.5rem;
  transition: 0.3s;
  width: 100%;
}

.header-content .language-container button:hover {
  color: var(--dark-green);
  background-color: var(--light-green);
}


/*** ------------------------------------------------------------------------------------------------------------
  - MENU MOBILE
  ------------------------------------------------------------------------------------------------------------ ***/

.header-content #menu-mobile-btn {
  display: none;
}

.menu-lang-legend {
  display: none;
}

.header-content #menu-mobile-btn {
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1rem;
}

.header-content #menu-mobile-btn .menu-mobile-btn-bar::after,
.header-content #menu-mobile-btn .menu-mobile-btn-bar::before,
.header-content #menu-mobile-btn .menu-mobile-btn-bar {
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--black);
  transition: 0.3s;
}

.header-content #menu-mobile-btn .menu-mobile-btn-bar::after,
.header-content #menu-mobile-btn .menu-mobile-btn-bar::before {
  content: '';
  display: block;
  position: absolute;
}

.header-content #menu-mobile-btn .menu-mobile-btn-bar::before {
  transform: translateY(-6px);
}

.header-content #menu-mobile-btn .menu-mobile-btn-bar::after {
  transform: translateY(6px);
}

.header-content #menu-mobile-btn.active .menu-mobile-btn-bar::before {
  transform: rotate(45deg);
}

.header-content #menu-mobile-btn.active .menu-mobile-btn-bar {
  background-color: transparent;
}

.header-content #menu-mobile-btn.active .menu-mobile-btn-bar::after {
  transform: rotate(-45deg);
}


/*** ------------------------------------------------------------------------------------------------------------
  - MEDIA QUERIES 
  ------------------------------------------------------------------------------------------------------------ ***/

@media (max-width: 768px) {
  .header-content #menu-mobile-btn,
  .header-content .menu-lang-legend,
  .header-content .menu-container {
    display: flex;
  }

  .header-content .menu-container {
    transform: translateY(-10%);
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 100%;
    gap: 0;
    right: 0;
    background-color: var(--white);
    transition: 0.3s;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }

  .header-content .menu-container {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }

  .header-content .menu-container.show {
    z-index: 3;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: initial;
    z-index: 2;
    position: absolute;
  }

  .header-content .menu-container li {
    display: inherit;
    align-items: center;
    transition: 0.3s;
    border-bottom: 1px solid var(--gray3);
    cursor: pointer;
    width: 50dvw;
  }

  .header-content .menu-container li:first-child {
    order: 2;
  }

  .header-content .menu-container button,
  .header-content .menu-container a {
    width: 100%;
    padding: 1rem 3rem;
    text-align: center;
  }
  
  .header-container .header-content #menu-lang-btn {
    border-radius: 0;
  }

  .header-content .language-container {
    transform: translateY(-10%);
    position: absolute;
    right: 0;
  }

  .header-content .language-container li {
    width: 40dvw;
  }
}

@media (max-width: 400px) {
  .header-content .menu-container li {
    width: 100dvw;
  }

  .header-content .menu-container li:nth-child(2) {
    border-top: 1px solid var(--gray3);
    border-bottom: 1px solid var(--gray3);
  }
}
