@import './header.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray3: #8A8A96;
  --black: #121212;
  --white: #FBFBFB;
  --light-green: #28E0A9;
  --dark-green: #002E26;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: var(--black);
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

input[type="radio"] {
  display: none;
}

input, button, ul, li {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input, button {
  outline: none;
  border: none;
  background-color: transparent;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

ul, li {
  list-style: none;
}

.max-container {
  max-width: 1024px;
  margin: 0 auto;
}

svg {
  width: 24px;
  height: 24px;
}