@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './header.css';
@import './intro.css';
@import './about.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray4: #E1E1E6;
  --gray3: #8A8A96;
  --gray2: #29292E;
  --gray1: #1B1B1F;
  --black: #111;
  --white: #FBFBFB;
  --purple: #8333E8;
  --light-green: #28E0A9;
  --dark-green: #002E26;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: var(--black);
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

input[type="radio"] {
  display: none;
}

input, button, ul, li {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input, button {
  outline: none;
  border: none;
  background-color: transparent;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

ul, li {
  list-style: none;
}

.max-container {
  max-width: 1024px;
  margin: 0 auto;
}

.max-container-2 {
  max-width: 904px;
  margin: 0 auto;
}

svg {
  width: 24px;
  height: 24px;
}

/* Titles Details */

.title-details {
  display: flex;
}

.title-details .long-bar {
  width: 80%;
  height: 3px;
  border-radius: 3px;
  background-color: var(--purple);
}

.title-details > div {
  display: flex;
  position: relative;
  gap: 3px;
  margin-left: 9px;
}

.title-details .circle {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--purple);
}