@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './header.css';
@import './intro.css';
@import './about.css';
@import './project.css';
@import './projects.css';
@import './footer.css';
@import './contact.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray4: #ccc;
  --gray3: #8a8a96;
  --gray2: #29292e;
  --gray1: #1b1b1f;
  --black: #111;
  --white: #fbfbfb;
  --orange: #fe853e;
  --dark-orange: #531f00;
  --purple: #8333e8;
  --light-green: #28e0a9;
  --dark-green: #002e26;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: var(--black);
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

input[type='radio'] {
  display: none;
}

input,
button,
ul,
li,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input,
button,
textarea {
  outline: none;
  border: none;
  background-color: transparent;
}

button,
a {
  cursor: pointer;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

svg {
  width: 24px;
  height: 24px;
}

/*---------------------------------------------------------------------------------------------------------
  - CONTAINERS
---------------------------------------------------------------------------------------------------------*/

.max-container {
  max-width: 1024px;
  margin: 0 auto;
}

.max-container-2 {
  max-width: 904px;
  margin: 0 auto;
}

/*--------------------------------------------------------------------------------------------------- 
Titles Details 
-----------------------------------------------------------------------------------------------------*/

.title-details {
  display: flex;
}

.title-details .long-bar {
  width: 80%;
  height: 3px;
  border-radius: 3px;
  background-color: var(--purple);
}

.title-details > div {
  display: flex;
  position: relative;
  gap: 3px;
  margin-left: 9px;
}

.title-details .circle {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--purple);
}

/*-------------------------------------------------------------------------------------------
  - lOADING
-------------------------------------------------------------------------------------------*/

.dots {
  width: 1.5rem;
  display: flex;
  height: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.dots div {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  align-self: flex-end;
  background-color: var(--gray3);
  animation: fade 0.8s ease-in-out alternate infinite;
  transform: translateY(-3px);
}

.dots div:nth-of-type(1) {
  animation-delay: -0.4s;
}

.dots div:nth-of-type(2) {
  animation-delay: -0.2s;
}

/*------------------------------------------------------------------------------------------------------------
  - FEEDBACK
---------------------------------------------------------------------------------------------------------------*/

.error {
  color: var(--orange);
  font-size: 12px;
  margin-top: 4px;
}

.submit-menssage {
  padding: 1rem 2rem;
  position: fixed;
  top: 2rem;
  right: 1rem;
  z-index: 2;
}

.submit-menssage.error {
  background-color: var(--orange);
  color: var(--dark-orange);
}

.submit-menssage.sucess {
  background-color: var(--light-green);
  color: var(--dark-green);
}

.submit-menssage.show {
  animation: slide-in 0.5s ease-in-out;
}

.submit-menssage.hide {
  animation: slide-out 0.5s ease-in-out forwards;
}

.submit-menssage::before {
  content: '';
  position: absolute;
  height: 10%;
  left: 0;
  bottom: 0;
  animation: submit-loading 2s linear forwards;
  z-index: 3;
}

.submit-menssage.sucess::before {
  background-color: var(--dark-green);
}

.submit-menssage.error::before {
  background-color: var(--dark-orange);
}

/*---------------------------------------------------------------------------------------------------------
  - ANIMATIONS
----------------------------------------------------------------------------------------------------------*/

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(120%);
  }
}

@keyframes submit-loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
